/*  your css code here. If applicable */
.main{
	max-width:900px;
	height:300px;
	background-color:#f5f5f5;
	padding:40px;
   
}
#t1{
	padding-top:10px;
}
#t2{
	
	border:1px;
	 border-style: solid;
	border-color:black;
	background-color:white;
	font-size:small;
	width:590px;
	height:60px;
	
}
#t3{
	border:1px;
	 border-style: solid;
	border-color:black;
	background-color:white;
	font-size:small;
	width:590px;
	height:60px;
}
#author{
   text-align:right;
	font-style:italic;
}
#author1{
	 text-align:right;
	font-style:italic;
}